@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.form-container {
  width: 80%;
  margin: auto;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

.input-field-container {
  width: 100%;
}

.icon-style {
  font-size: 1.5em;
}

.input-style {
  font-size: 1.2em;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

/* Conteneur de connexion */
.login-container {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

/* Boîtes de connexion et d'inscription */
.login-box, .register-box {
  background: rgba(255, 255, 255, 0.9); /* Légère transparence */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px -5px 30px 0px rgb(186, 66, 255),
              0px 5px 30px 0px rgb(0, 225, 255);
  width: 400px;
  text-align: center;
}

/* Titre de la boîte */
.login-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.neomorph-card {
  width: 300px;
  height: 400px;
  padding: 20px; /* Ajout de padding */
  margin: 20px;
  background: #e0e0e0;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 10px; 
}
.neomorph-card h3 {
  font-size: 1.5em; /* Utilisation de em */
  margin-bottom: 15px; /* Espace en dessous du titre */
}

.neomorph-card p {
  font-size: 1em; /* Utilisation de em */
  margin-bottom: 15px; /* Espace en dessous du paragraphe */
}

.neomorph-card:hover {
  box-shadow: inset 4px 4px 10px #bebebe, inset -4px -4px 10px #ffffff;
}

.like-button, .button-improved, .comment-section {
  margin-top: 15px; /* Espace en dessus */
  margin-bottom: 15px; /* Espace en dessous */
}



.comment-box {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.comment-box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.submit-button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

.submit-button .button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 6px 12px; /* Ajustement de la taille du padding */
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  background-image: radial-gradient(#c18bd9, lightblue);/* Couleur bleue claire */
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.submit-button:active .button-top {
  transform: translateY(6px);
}

.submit-button .button-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 6px 12px; /* Ajustement de la taille du padding */
  background-image: radial-gradient(#c18bd9, lightblue);
  box-sizing: content-box;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.submit-button:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.submit-button .button-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: lightblue; /* Couleur bleue claire */
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.submit-button:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.submit-button .button-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  background-color: #c18bd9;
  border: 1px solid ;
}

.button2:hover:before {
  top: -35%;
  background-color: #c18bd9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #c18bd9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.custom-title {
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 1;
  color: #090909;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.custom-title:hover {
  color: #ffffff;
  background-color: #c18bd9;
  border: 1px solid;
}

.custom-title:hover:before {
  top: -35%;
  background-color: #c18bd9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.custom-title:hover:after {
  top: -45%;
  background-color: #c18bd9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}



.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.hover-bg-gradient {
  background-image: radial-gradient(#c18bd9, lightblue);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-gray-400;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  @apply text-gray-400;
}

::-ms-input-placeholder { /* Microsoft Edge */
  @apply text-gray-400;
}

